html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
}

header {
	background-color: lightblue;
}

h1,h2 {
	margin: 0;
	padding: 0.5em;
}

.blueborder {
	border: solid;
    border-color: navy;
}

.browntext, .browntext a {
	color: saddlebrown;
}

#navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
    border-left: none;
    border-right: none;
	padding: 5px;
}

.navigation-entry {
	margin: 5px;
    padding: 5px;
    border: solid forestgreen;
	text-align: center;
}

#below-navbar {
	display: flex;
	flex-direction: row;
	height: 100%; /* fix this! */
}

#sidebar {
	display: flex;
	flex-direction: column;
    border-left: none;
    border-top: none;
    border-bottom: none;
 
}

/* .sidebar-entry { */
/* 	display: flex; */
/* 	align-items: center; */
/* 	margin: 1em; */
/* 	justify-content: center; */
/* } */

#the_frame {
	display: block;
	border: none;
	margin-right: 10%;
	height: 100%;
	width: 100%;
	overflow: visible;
}
